body {
  background-color: #36ACB8;
  text-align: center;
  color: #D3DA31;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 6rem;
  padding-top: 1rem;
}

h2 {
  padding-top: 2rem;
}

p {
  padding-top: 1rem;
}

.btn {
  background-color: #D3DA31;
  color: #36ACB8;
  padding: 0.5rem 3rem;
  margin: 1rem auto 3rem;
}

.btn:hover {
  color: #FF7950;
}

.img {
  margin: 0 2rem;
}

#copy {
  padding-top: 3rem;
}
